@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$color-logo: #f7c90f ;
main{
    /* Fondo */
    background-color: rgb(245, 245, 245);
    }
    h1{  
        /* Titulo centrado */
        text-align: center;
        background-color: $color-logo;
        margin: 1%;
}

div{
    h2{ 
        /* titulo de ofertas */
        text-align: center;    
        background: rgb(195,34,191);
        background: linear-gradient(0deg, rgba(195,34,191,1) 0%, rgba(219,3,36,1) 100%);
        margin: 1%;
    }
    .oferta{
        /* tachar oferta */
        text-decoration: line-through;
        margin-top: 5px;
    }
    a{
        p{
            /* estilos del texto adentro del link a productos */
            position: absolute;
            align-items: center;
            font-size: 30px;
        }
    }
}

.colchones-titulo{
    /* gradiante en  productos-colchones */
    background: rgb(247,144,245);
    background: linear-gradient(0deg, rgba(247,144,245,1) 0%, rgba(140,164,235,1) 100%);
}

.ventiladores-titulo{
    /* gradiante titulo ventiladores (productos) */
    background: rgb(8,31,159);
    background: linear-gradient(0deg, rgba(8,31,159,1) 0%, rgba(148,148,214,1) 100%);
}

.muebles-titulo{
    background: rgb(236,130,0);
    background: linear-gradient(0deg, rgba(236,130,0,1) 0%, rgba(247,201,15,1) 100%);
}

/* Footer siempre abajo */
html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column  ;
    min-height: 100%;
}

footer{
    margin-top: auto;
}

a {
    /* Link a productos y estilos */
    text-decoration: none;
    color: #212529;
    &:hover {
        color:$color-logo ;
    }
}
.colchon-imagen {
    /* centrar las imagenes */
    display: grid;
    place-items: center;
    margin-bottom: 5%
}

h2{   
    /* centrar el h2 y darle color  */
        text-align: center;
        background-color: $color-logo;
        margin: 1%;
}

.remove-bg {
    /* Sacar el fondo blanco de imagenes (png jpg etc) */
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.borde{
    /* Borde en Conoce mas productos (index) */
    border: 2px solid black; 
}
@media screen and (max-width: 576px){
    ul{
        background-color: $color-logo;
    }
}